.header {
  background-color: #293037;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);

  .header-container {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .project-title {
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to right, #acca13, #e0e0e1);
    filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.07))
      drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.06));
    font-size: 1.3rem;

    &:hover {
      background-image: linear-gradient(to right, #acca13, #e0e0e1);
    }
  }

  .navigation-container {
    background-clip: text;

    display: flex;
    gap: 3rem;

    a {
      color: white;
      font-size: 1.3rem;
      text-decoration: none;

      &:hover {
        color: #2f82e8;
      }
    }
  }
}
